<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iplist.ipboot.mapper.EmpMapper">
	<select id="allEmp" resultType="com.iplist.ipboot.domain.EmpDTO">
        SELECT * FROM emp;
    </select>
    
   

</mapper>