<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.iplist.ipboot.mapper.ExtDevMapper">
	<select id="allExtDevs" resultType="com.iplist.ipboot.domain.ExtDevDTO">
		select * from ext_dev;
	</select>

	<insert id="addExtDev22" parameterType="map">
		insert into ext_dev
		(dev_id, dev_type, registered_dlp, controlled_dlp,
		emp_id, emp_name,
		dept_id, dept_name,
		cmd_model, cmd_serial_num, dlp_model,
		dlp_serial_num,
		capacity, manufacturer, usage_purpose, location,
		valid_date, notes)
		values ( #{devId}, #{devType}, #{registeredDlp},
		#{controlledDlp},
		#{empId}, #{empName}, #{deptId}, #{deptName},
		#{cmdModel}, #{cmdSerialNum}, #{dlpModel}, #{dlpSerialNum},
		#{capacity}, #{manufacturer}, #{usagePurpose}, #{location},
		#{validDate}, #{notes});
	</insert>

	<select id="searchWord" parameterType="String"
		resultType="com.iplist.ipboot.domain.ExtDevDTO">
		select * from ext_dev
		WHERE dev_id LIKE CONCAT('%',
		#{enteredWord}, '%')
		OR dev_type LIKE CONCAT('%', #{enteredWord}, '%')
		OR emp_name LIKE CONCAT('%', #{enteredWord}, '%')
		OR dept_name LIKE
		CONCAT('%', #{enteredWord}, '%')
		OR cmd_model LIKE CONCAT('%',
		#{enteredWord}, '%')
		OR cmd_serial_num LIKE CONCAT('%', #{enteredWord},
		'%')
		OR dlp_model LIKE CONCAT('%', #{enteredWord}, '%')
		OR
		dlp_serial_num LIKE CONCAT('%', #{enteredWord}, '%')
		OR usage_purpose
		LIKE CONCAT('%', #{enteredWord}, '%')
		OR location LIKE CONCAT('%',
		#{enteredWord}, '%');
	</select>

	 <update id="modifyExtDev" parameterType="map">
        CALL modify_ext_dev(
            #{devId, jdbcType=VARCHAR},
            #{devType, jdbcType=VARCHAR},
            #{registeredDlp, jdbcType=BOOLEAN},
            #{controlledDlp, jdbcType=BOOLEAN},
            #{empId, jdbcType=VARCHAR},
            #{empName, jdbcType=VARCHAR},
            #{deptId, jdbcType=VARCHAR},
            #{deptName, jdbcType=VARCHAR},
            #{cmdModel, jdbcType=VARCHAR},
            #{cmdSerialNum, jdbcType=VARCHAR},
            #{dlpModel, jdbcType=VARCHAR},
            #{dlpSerialNum, jdbcType=VARCHAR},
            #{capacity, jdbcType=INTEGER},
            #{manufacturer, jdbcType=VARCHAR},
            #{usagePurpose, jdbcType=VARCHAR},
            #{location, jdbcType=VARCHAR},
            #{validDate, jdbcType=DATE},
            #{notes, jdbcType=VARCHAR},
            #{devStatus, jdbcType=VARCHAR},
            #{adminId, jdbcType=VARCHAR},
            #{adminName, jdbcType=VARCHAR}
        )
    </update>
    
    <select id="allLogs" resultType="com.iplist.ipboot.domain.ExtDevLogDTO">
    select * from ext_dev_log;
    </select>
    
    <update id="addExtDev" parameterType="map">
        CALL add_ext_dev(
            #{devId, jdbcType=VARCHAR},
            #{devType, jdbcType=VARCHAR},
            #{registeredDlp, jdbcType=BOOLEAN},
            #{controlledDlp, jdbcType=BOOLEAN},
            #{empId, jdbcType=VARCHAR},
            #{empName, jdbcType=VARCHAR},
            #{deptId, jdbcType=VARCHAR},
            #{deptName, jdbcType=VARCHAR},
            #{cmdModel, jdbcType=VARCHAR},
            #{cmdSerialNum, jdbcType=VARCHAR},
            #{dlpModel, jdbcType=VARCHAR},
            #{dlpSerialNum, jdbcType=VARCHAR},
            #{capacity, jdbcType=INTEGER},
            #{manufacturer, jdbcType=VARCHAR},
            #{usagePurpose, jdbcType=VARCHAR},
            #{location, jdbcType=VARCHAR},
            #{validDate, jdbcType=DATE},
            #{notes, jdbcType=VARCHAR},
            #{devStatus, jdbcType=VARCHAR},
            #{adminId, jdbcType=VARCHAR},
            #{adminName, jdbcType=VARCHAR}
        )
    </update>
	
	<update id="modifyExtDev33" parameterType="map">
		update ext_dev
		<set>
			<if test="registeredDlp != null">
				registered_dlp = #{registeredDlp},
			</if>
			<if test="controlledDlp != null">
				controlled_dlp = #{controlledDlp},
			</if>
			<if test="empId != null">
				emp_id = #{empId},
			</if>
			<if test="empName != null">
				emp_name = #{empName},
			</if>
			<if test="deptId != null">
				dept_id = #{deptId},
			</if>
			<if test="deptName != null">
				dept_name = #{deptName},
			</if>
			<if test="usagePurpose != null">
				usage_purpose = #{usagePurpose},
			</if>
			<if test="location != null">
				location = #{location},
			</if>
			<if test="validDate != null">
				valid_date = #{validDate},
			</if>
			<if test="notes != null">
				notes = #{notes}
			</if>
		</set>
		where dev_id = #{devId};
	</update>
</mapper>
