<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.iplist.ipboot.mapper.ExtDevMapper">
	<select id="allExtDevs"
		resultType="com.iplist.ipboot.domain.ExtDevDTO">
		select * from ext_dev where dev_status !='폐기';
	</select>
	
	<select id="searchExtDev" resultType="com.iplist.ipboot.domain.ExtDevDTO">
	call search_ext_dev(
	#{word , jdbcType=VARCHAR, mode=IN},
	#{devType, jdbcType=VARCHAR, mode=IN},
	#{devStatus, jdbcType=VARCHAR, mode=IN}
	);
	</select>

	<update id="addExtDev" parameterType="map">
		CALL add_ext_dev(
		#{devId, jdbcType=VARCHAR},
		#{devType, jdbcType=VARCHAR},
		#{registeredDlp, jdbcType=BOOLEAN},
		#{controlledDlp, jdbcType=BOOLEAN},
		#{devStatus, jdbcType=VARCHAR},
		#{empId, jdbcType=VARCHAR},
		#{empName, jdbcType=VARCHAR},
		#{deptId, jdbcType=VARCHAR},
		#{deptName, jdbcType=VARCHAR},
		#{location, jdbcType=VARCHAR},
		#{validDate, jdbcType=DATE},
		#{usagePurpose, jdbcType=VARCHAR},
		#{cmdModel, jdbcType=VARCHAR},
		#{cmdSerialNum, jdbcType=VARCHAR},
		#{dlpModel, jdbcType=VARCHAR},
		#{dlpSerialNum, jdbcType=VARCHAR},
		#{capacity, jdbcType=INTEGER},
		#{manufacturer, jdbcType=VARCHAR},
		#{notes, jdbcType=VARCHAR},
		#{adminId, jdbcType=VARCHAR},
		#{adminName, jdbcType=VARCHAR}
		)
	</update>

	<update id="modifyExtDev" parameterType="map">
		CALL modify_ext_dev(
		#{devId, jdbcType=VARCHAR},
		#{devType, jdbcType=VARCHAR},
		#{registeredDlp, jdbcType=BOOLEAN},
		#{controlledDlp, jdbcType=BOOLEAN},
		#{devStatus, jdbcType=VARCHAR},
		#{empId, jdbcType=VARCHAR},
		#{empName, jdbcType=VARCHAR},
		#{deptId, jdbcType=VARCHAR},
		#{deptName, jdbcType=VARCHAR},
		#{location, jdbcType=VARCHAR},
		#{validDate, jdbcType=DATE},
		#{usagePurpose, jdbcType=VARCHAR},
		#{cmdModel, jdbcType=VARCHAR},
		#{cmdSerialNum, jdbcType=VARCHAR},
		#{dlpModel, jdbcType=VARCHAR},
		#{dlpSerialNum, jdbcType=VARCHAR},
		#{capacity, jdbcType=INTEGER},
		#{manufacturer, jdbcType=VARCHAR},
		#{notes, jdbcType=VARCHAR},
		#{adminId, jdbcType=VARCHAR},
		#{adminName, jdbcType=VARCHAR}
		)
	</update>


	<select id="allLogs"
		resultType="com.iplist.ipboot.domain.ExtDevLogHistDTO">
		select * from ext_dev_log_view;
	</select>

	<select id="filteredLogs"
		resultType="com.iplist.ipboot.domain.ExtDevLogHistDTO">
		call filter_ext_dev_log(
		#{startDate, jdbcType=TIMESTAMP, mode=IN},
		 #{endDate, jdbcType=TIMESTAMP, mode=IN},
		  #{selectedOpt, jdbcType=VARCHAR, mode=IN},
		  
		   #{logWord, jdbcType=VARCHAR, mode=IN}
		);
	</select>
	
</mapper>
