.ExtDevContainer {
    margin: 10px auto;
    max-width: 1685px;
    overflow-x: auto;
    /* 가로 스크롤 허용 */
}

/* =======================[검색추가박스]======================================================= */
.searchAddBox {
    width: 700px;
    height: 30px;
    margin: 30px auto;
    margin-top: 30px;
    background-color: rgb(225, 255, 179);
    display: flex;
    align-items: center;
}

.searchAddBox>input {
    display: inline-block;
    width: 200px;
    height: 24px;
}

.searchAddBox>button:nth-child(2) {
    display: inline-block;
    width: 70px;
    height: 30px;
}

/* [스크롤 설정]================================================================================ */
.extDevTable {
    width: auto;
    height: 500px;
    margin: 10px auto;
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
    padding: 0;
    font-size: 11px;
}

.ExtDevContainer>table>tbody {
    display: block;
    max-height: 460px;
    overflow-y: scroll;
}

.ExtDevContainer>table>thead {
    display: table;
    width: 100%;
    table-layout: fixed;
    font-size: 12px;
}

.ExtDevContainer>table>tbody {
    table-layout: fixed;
}

.ExtDevContainer>table>tbody>tr {
    display: table;
}

.ExtDevContainer>table>tbody>tr>td,
.ExtDevContainer>table>thead>tr>th {
    border-left: 1px solid rgb(47, 47, 47);
}

.ExtDevContainer>table>thead {
    width: calc(100% - 15px);
    background-color: rgb(127, 127, 127);
}

.ExtDevContainer>table>thead>tr>th {
    font-weight: bold;
}

.ExtDevContainer>table>thead>tr>th,
.ExtDevContainer>table>tbody>tr>td {
    border-bottom: 1px solid black;
}

/* ======[테이블 변경 버튼] */
.extDevTable>tbody>tr>td:nth-child(2)>span:hover {
    font-size: 110%;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.extDevTable>tbody>tr>td:nth-child(6) {
    width: 100px;
    background-color: rgb(255, 239, 148);
}

.extDevTable>tbody>tr>td:nth-child(7) {
    width: 100px;
    background-color: rgb(217, 206, 3);
}



/* [테이블 column 넓이]================================================================== */

.extDevTable>thead>tr>th:nth-child(1),
.extDevTable>tbody>tr>td:nth-child(1) {
    width: 90px;
    height: 10px;
    line-height: 10px;
    /* background-color: rgb(255, 161, 161); */
}

.extDevTable>thead>tr>th:nth-child(2),
.extDevTable>tbody>tr>td:nth-child(2) {
    width: 95px;
    /* background-color: rgb(195, 255, 161); */
}

.extDevTable>thead>tr>th:nth-child(3),
.extDevTable>tbody>tr>td:nth-child(3) {
    width: 50px;
    /* background-color: rgb(195, 245, 255); */
}

.extDevTable>thead>tr>th:nth-child(4),
.extDevTable>tbody>tr>td:nth-child(4) {
    width: 50px;
    /* background-color: rgb(247, 215, 121); */
}

.extDevTable>thead>tr>th:nth-child(5),
.extDevTable>tbody>tr>td:nth-child(5) {
    width: 66px;
    /* background-color: rgb(128, 199, 112); */
}

.extDevTable>thead>tr>th:nth-child(6),
.extDevTable>tbody>tr>td:nth-child(6) {
    width: 100px;
    /* background-color: rgb(217, 255, 208); */
}


.extDevTable>thead>tr>th:nth-child(7),
.extDevTable>tbody>tr>td:nth-child(7) {
    width: 80px;
    /* background-color: rgb(28, 155, 0); */
}

.extDevTable>thead>tr>th:nth-child(8),
.extDevTable>tbody>tr>td:nth-child(8) {
    width: 170px;
    /* background-color: rgb(217, 255, 208); */
}

.extDevTable>thead>tr>th:nth-child(9),
.extDevTable>tbody>tr>td:nth-child(9) {
    width: 180px;
    /* background-color: rgb(80, 130, 68); */
}

.extDevTable>thead>tr>th:nth-child(10),
.extDevTable>tbody>tr>td:nth-child(10) {
    width: 100px;
    /* background-color: rgb(177, 228, 164); */
}

.extDevTable>thead>tr>th:nth-child(11),
.extDevTable>tbody>tr>td:nth-child(11) {
    width: 200px;
    /* background-color: rgb(171, 223, 255); */
}

.extDevTable>thead>tr>th:nth-child(12),
.extDevTable>tbody>tr>td:nth-child(12) {
    width: 80px;
    /* background-color: rgb(179, 232, 184); */
}

.extDevTable>thead>tr>th:nth-child(13),
.extDevTable>tbody>tr>td:nth-child(13) {
    width: 200px;
    /* background-color: rgb(236, 131, 194); */
}

.extDevTable>thead>tr>th:nth-child(14),
.extDevTable>tbody>tr>td:nth-child(14) {
    width: 130px;
    /* background-color: rgb(131, 236, 213); */
}

.extDevTable>thead>tr>th:nth-child(15),
.extDevTable>tbody>tr>td:nth-child(15) {
    width: 50px;
    /* background-color: rgb(217, 236, 131); */
}

.extDevTable>thead>tr>th:nth-child(16),
.extDevTable>tbody>tr>td:nth-child(16) {
    width: 110px;
    /* background-color: rgb(255, 206, 206); */
}

.extDevTable>thead>tr>th:nth-child(17),
.extDevTable>tbody>tr>td:nth-child(17) {
    width: 200px;
    /* background-color: rgb(99, 215, 111); */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.extDevTable>thead>tr>th:nth-child(18),
.extDevTable>tbody>tr>td:nth-child(18) {
    width: 60px;
    /* background-color: rgb(255, 126, 80); */
}

.extDevTable>thead>tr>th:nth-child(19),
.extDevTable>tbody>tr>td:nth-child(19) {
    width: 17px;
    /* background-color: rgb(204, 182, 255); */
}