/* =======================[검색추가박스]======================================================= */
.searchAddBox {
    width: 1000px;
    height: 30px;
    margin: 30px auto;
    margin-top: 30px;
    /* background-color: rgb(225, 255, 179); */
    display: flex;
    align-items: center;
}

.searchAddBox>input {
    display: inline-block;
    width: 200px;
    height: 24px;
}

.searchAddBox>button:nth-of-type(1) {
    display: inline-block;
    width: 70px;
    height: 30px;
    background-color: black;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
}

.searchAddBox>button:nth-of-type(1):hover {
    background-color: rgb(68, 68, 68);
    cursor: pointer;
}

.searchAddBox>button:nth-of-type(2) {
    display: inline-block;
    width: 70px;
    height: 30px;
    background-color: rgb(20, 20, 20);
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
}

.searchAddBox>button:nth-of-type(2):hover {
    background-color: rgb(63, 63, 63);
    cursor: pointer;
}

.searchAddBox>select:nth-of-type(1) {
    display: inline-block;
    width: 110px;
    height: 30px;
    background-color: rgb(212, 212, 212);
    text-align: center;
    border: none;
    border-radius: 5px;
}

.searchAddBox>button:nth-of-type(3) {
    display: inline-block;
    width: 110px;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    background-color: rgb(75, 159, 255);
}

.searchAddBox>button:nth-of-type(3):hover {
    background-color: rgb(0, 104, 223);
    color: white;
    cursor: pointer;
}


/* [스크롤 설정]================================================================================ */
.ExtDevContainer {
    /* margin: 10px auto; */
    overflow-x: auto;
    overflow-y: scroll;
}


.extDevTable {
    /* height: 455px; */
    margin-left: 20px;
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
    padding: 0;
    font-size: 11px;
}

.extDevTable th,
.extDevTable td {
    table-layout: auto;
    word-break: keep-all;
    border: 1px solid #333;
    padding: 4px 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.extDevTable>tbody>tr:first-child>td {
    background-color: rgb(210, 229, 255);
    font-size: 14px;
    font-weight: bold;
}


.extDevTable>tbody>tr>td {
    height: 15px;
    line-height: 15px;
}

.extDevTableTr:hover td {
    background-color: rgba(229, 244, 255, 0.827);
}