/* Electron 규격 */
/* .App_Electron {
  margin: 100px auto;
  border: 5px solid black;
  text-align: center;
  width: 1100px;
  height: 660px;
  box-sizing: content-box;
} */

.App {
  margin: 10px auto;
  /* border: 5px solid black; */
  text-align: center;
  width: 1690px;
  height: 700px;
  box-sizing: content-box;
}