.Header {
    width: 100%;
    height: 150px;
    margin-top: 20px;
    margin-bottom: 18px;
    /* background-color: aquamarine; */
}

.header1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 40px;
}

.headerTitle {
    width: 300px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/** ===[관리자 정보]============= */
.loginedAdmin {
    margin-left: auto;
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
}

.loginedAdmin>span {
    display: inline-block;
    height: 100%;
    line-height: 50px;
    font-size: 17px;
    width: 100px;
    /* background-color: rgb(163, 194, 255); */
}

.loginedAdmin>button {
    display: inline-block;
    width: 80px;
    height: 40px;
    background-color: black;
    color: white;
    font-size: 13px;
    font-weight: bold;
    border-radius: 5px;
}

.loginedAdmin>button:hover {
    background-color: rgb(218, 218, 218);
    color: black;
    cursor: pointer;
}

.header1>.headerTitle>span {
    font-size: 28px;
    font-weight: bold;
    transition: transform 0.9s ease;
}

.header1>.headerTitle>span:hover {
    cursor: pointer;
    transform: scale(1.1);

}

.Header>.headerMenuButton {
    display: flex;
    justify-content: space-around;
}

.Header>.headerMenuButton>.menuDiv,
.Header>.headerMenuButton>.selectedMenu {
    width: 220px;
    height: 40px;
}

.Header>.headerMenuButton>.menuDiv>button,
.Header>.headerMenuButton>.selectedMenu>button {
    display: inline-block;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(163, 184, 255);
}

.Header>.headerMenuButton>.menuDiv>button:hover {
    background-color: rgb(0, 34, 145);
    color: white;
    cursor: pointer;
}


/** =======선택된 메뉴 버튼============================== */
.Header>.headerMenuButton>.selectedMenu>button {
    background-color: rgb(0, 34, 145);
    color: white;
}

.Header>.headerMenuButton>.selectedMenu>button:hover {
    /* background-color: rgb(10, 22, 60); */
    color: white;
    cursor: pointer;
}