.Header {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 100px;
    /* background-color: aquamarine; */
}

.Header>.headerTitle {
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;

}

.Header>.headerTitle>span {
    font-size: 28px;
    font-weight: bold;
    transition: transform 0.9s ease;
}

.Header>.headerTitle>span:hover {
    cursor: pointer;
    transform: scale(1.1);

}

.Header>.headerMenuButton {
    display: flex;
    justify-content: space-around;
}

.Header>.headerMenuButton>.menuDiv,
.Header>.headerMenuButton>.selectedMenu {
    width: 220px;
    height: 40px;
}

.Header>.headerMenuButton>.menuDiv>button,
.Header>.headerMenuButton>.selectedMenu>button {
    display: inline-block;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(163, 184, 255);
}

.Header>.headerMenuButton>.menuDiv>button:hover {
    background-color: rgb(0, 34, 145);
    color: white;
    cursor: pointer;
}


/** =======선택된 메뉴 버튼============================== */
.Header>.headerMenuButton>.selectedMenu>button {
    background-color: rgb(0, 34, 145);
    color: white;
}

.Header>.headerMenuButton>.selectedMenu>button:hover {
    /* background-color: rgb(10, 22, 60); */
    color: white;
    cursor: pointer;
}